<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Example suite">
    <test name="test1">
        <classes>
            <class name="Base.BaseTest">
                <methods>
                    <include name="beforeT"/>
                </methods>
            </class>
            <class name="ExampleTests"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="Base.BaseTest">
                <methods>
                    <include name="beforeT"/>
                    <include name="afterT"/>
                </methods>
            </class>
            <class name="Example2"/>
        </classes>
    </test>
</suite>