<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Example suite">
    <test name="test1">
        <parameter name="a" value="1"/>
        <parameter name="b" value="2"/>
        <parameter name="c" value="3"/>
        <classes>
            <class name="base.BaseTest">
                <methods>
                    <include name="beforeT"/>
                </methods>
            </class>
            <class name="useless.DisckTests"/>
        </classes>
    </test>
    <test name="test2">
        <parameter name="regex1" value="^(\+7|8)[\s-]?\(?\d{3}\)?[\s-]?\d{3}[\s-]?\d{2}[\s-]?\d{2}$"/>
        <parameter name="regex2" value="^(\+8)[\s-]?\(?\d{3}\)?[\s-]?\d{3}[\s-]?\d{2}[\s-]?\d{2}$"/>
        <classes>
            <class name="base.BaseTest">
                <methods>
                    <include name="beforeT"/>
                    <include name="afterT"/>
                </methods>
            </class>
            <class name="useless.PhoneTests"/>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="UsersListTests"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="UserPasswordTests"/>
        </classes>
    </test>
</suite>